*{
  font-family: "New Rocker", serif;
  font-weight: 400;
  font-style: normal;
}
.band-description {
  background-color: rgba(0, 0, 0, 0.6); /* Fondo oscuro para resaltar el texto */
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 30px;
}
.bg-image {
  background-image: url(Red_Raccoons.jpeg); /* Cambia esta URL por la imagen que desees */
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: white;
}

/* Estilo del contenido sobre el fondo */
.content {
  position: relative;
  z-index: 1;
  padding-top: 50px;
}

/* Estilos generales de la página */
body {
  color: #ffffff; /* Texto blanco por defecto */
}

h1, h3 {
  color: #252525; /* Rojo brillante para títulos */
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: rgb(255, 255, 255);
}

p {
  color: #ffffff; /* Rojo más oscuro para los párrafos */
}

/* Estilos para los botones con la paleta de colores */
button {
  background: #252525; /* Rojo brillante */
  color: #fff;
  border: none;
  position: relative;
  height: 60px;
  font-size: 1.6em;
  padding: 0 2em;
  cursor: pointer;
  transition: 800ms ease all;
  outline: none;
  border-radius: 8px; /* Bordes redondeados */
  margin: 10px; /* Separación entre botones */
}

button:hover {
  background: #fff; /* Fondo blanco al hacer hover */
  color: #000000; /* Texto rojo brillante al hacer hover */
}

button:before, button:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: #f30014; /* Rojo brillante para la línea de animación */
  transition: 400ms ease all;
}

button:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}

button:hover:before, button:hover:after {
  width: 100%;
  transition: 800ms ease all;
}

/* Personalización del área de información de integrantes */
.profile-info {
  display: none;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro para resaltar */
  border-radius: 8px;
  margin-top: 20px;
}

.profile-info.active {
  display: block;
}

/* Estilo del pie de página */
.footer {
  text-align: center;
  padding: 20px;
  background-color: #400101; /* Rojo muy oscuro */
  color: white;
}

.footer a {
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
}

.footer a:hover {
  color: #F21D2F; /* Rojo brillante al pasar el ratón */
}

/* Ajustes para hacer el contenido más accesible en pantallas pequeñas */
@media (max-width: 768px) {
  .content {
      padding: 10px;
  }

  button {
      font-size: 1.2em; /* Tamaño más pequeño en pantallas pequeñas */
      padding: 0 1.5em; /* Menor espaciado en pantallas pequeñas */
  }
}
